#background-image{
  background-image: url("../images/backgrounds/landing.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container-fluid{
  text-align: center;
}
#pt {
  background-color: #F15A29;
}
#bf {
  background-image: url("/home/terrydon/terrydon/my-moringa-school-projects/anita-kitchen/images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
#lh {
  background-image: url("/home/terrydon/terrydon/my-moringa-school-projects/anita-kitchen/images/foodtop/lunch.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
